<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">


<div class="row" id="indextop">
  <div class="col-lg-2 ode col-lg-offset-3 col-md-4 col-md-offset-1 col-sm-5">
        <img src="/img/him2.jpg"  width="300" height="300"/>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-" id="indextop2">
    <h4>   Welcome to the website of the Lao Embassy to Australia and New Zealand. Here you will find some useful information about the Lao PDR and the Lao people. There are links to Lao Investment Law and other Regulations, Lao Tourism, Visa application form and some related information. I hope this site would serve as a gateway for you to learn more about Laos.</h2>
      <br>
        His Excellency Mr. Phomma Khammanichanh, Ambassador
    </div>
</div>
